<div class="mt-10">
    <form method="GET">
        <div class="form-group">
            <label for="exampleInputEmail1">Input the keyword: </label>
            <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Keyword: ">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>